@import '../../assets/Styles/apps.scss';
.container{
    height:500px; width: 400px;
    //background:#aa6464;
    margin: auto;
}
.links{
    padding-left: 130px;
}
.formCheckbox{
    margin-top: 10px;
    padding-left: 10px;
}

.button{
    margin-left: 6px;
}